.pic {
  text-align: center;
  width: 300px;
  height: 300px;
}

h1 {
  text-align: center;
  color: inherit;
  font-size: 40px;
}

#onePic {
  padding: 1px;
  border: 7px;
  border-style: inset;
  border-color: #0e5273;
}

#twoPic {
  padding: 1px;
  border: 7px;
  border-style: inset;
  border-color: #0e5273;
}
#threePic {
  padding: 1px;
  border: 7px;
  border-style: inset;
  border-color:#0e5273;
}

body {
  background-color: #8495a9;
  width: 960px;
}
